<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated football_db -->
      <package
            uri="http://www.example.org/football_db"
            class="football_db.Football_dbPackage"
            genModel="model/football_db.genmodel"/>
   </extension>

</plugin>
